@font-face {
    font-family: "DINPro";
    font-style: normal;
    src: url('~assets/fonts/DINPro.ttf') format('truetype');
  }

div.h1 {
    font-family: "Leelawadee UI";
font-weight: normal;
font-size: 26px;
letter-spacing: 0.1em;
text-align: left;
color: #070000;
text-transform: uppercase;

  }

  div.pageTitle {
    font-family: "Century Gothic";
font-weight: normal;
font-size: 45px;
letter-spacing: 0.18em;
text-align: left;
color: #070000;
text-transform: uppercase;

  }
  
  div.h2 {
    font-family: "Malgun Gothic";
font-weight: normal;
font-size: 24px;
letter-spacing: 0.03em;
text-align: left;
color: #070000;
text-transform: capitalize;

  }
  
  div.h3 {
    font-family: "Ink Free";
font-weight: normal;
font-size: 24px;
text-align: left;
color: #707070;
text-transform: capitalize;

  }
  
  div.h4 {
    font-family: Calibri;
font-weight: normal;
font-size: 18px;
letter-spacing: 0.05em;
text-align: left;
color: #070000;
text-transform: capitalize;

  }
  
  div.h5 {
    width: 428px;
height: 319px;
font-family: "Segoe UI";
font-weight: normal;
font-size: 15px;
letter-spacing: 0.03em;
line-height: 22px;
text-align: left;
color: #070000;

  }

  div.h2SmallCase {
    font-family: "DINPro";
    font-weight: normal;
    font-size: 22px;
    letter-spacing: 1px;
    text-transform: capitalize;
    color: rgb(0, 0, 0);
 
  }

  div.quotes {
    font-family: "DINPro";
    font-weight: bold;
    font-style: italic;
    font-size: 22px;
    letter-spacing: 1px;
    text-transform: capitalize;
    color: rgb(0, 0, 0);
 
  }