<template>
  <div class="mx-12">
    <v-row>
      <v-col cols="6" class="introLeft">
        <v-row align="center">
          <div class="pageTitle">hello 大家好</div>
          <v-divider></v-divider>
        </v-row>
        <v-row>
          <v-col cols="6">
            <v-card min-height="566" min-width="373" class="proPic"> </v-card>
            <v-card
              min-height="265"
              min-width="305"
              color="#7209b7"
              class="backPic"
            >
            </v-card>
          </v-col>
          <v-col cols="6">
            <div class="h2 text1">
              Im Just A Household Wife Who Love To Cook And Share With My
              Friends
            </div>
            <div class="h4 text2 my-8">
              Lorem Ipsum Dolor Sit Amet, Consetetur Sadipscing Elitr, Sed Diam
              Nonumy Eirmod Tempor Invidunt Ut Labore Et Dolore Magna Aliquyam
              Erat, Sed Diam Voluptua. At Vero Eos Et Accusam Et Justo Duo
              Dolores Et Ea Rebum. Stet Clita Kasd Gubergren, No Sea Takimata
              Sanctus Est Lorem Ipsum Dolor Sit Amet. Lorem Ipsum Dolor Sit
              Amet, Consetetur Sadipscing Elitr, Sed Diam Nonumy Eirmod Tempor
              
            </div>
            <v-card min-height="566" min-width="373" class="proPic2"> </v-card>

            <div class="pageTitle text3">Is all about sharing</div>
          </v-col>
        </v-row>
      </v-col>
      <v-col cols="6">testing</v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  data() {
    return {};
  },
};
</script>

<style>
.introLeft {
  position: relative;
}

.proPic {
  position: relative;
  z-index: 3;
}

.backPic {
  position: relative;
  z-index: 1;
  left: 20%;
}

.proPic2 {
  position: relative;
  right: 90px;
  z-index: 2;
}

.text1 {
  position: relative;
  left: -90px;
  z-index: 4;
  width: 110%;
}

.text3 {
  position: relative;
  z-index: 3;
  bottom: 60px;
}
</style>