<template>
  <v-app-bar app :color="bg" :elevation="elva">
    <v-app-bar-nav-icon
      @click.prevent="$emit('sideNavToggle')"
      color="black"
    ></v-app-bar-nav-icon>
    <v-toolbar-title>KLLiew</v-toolbar-title>

    <v-spacer></v-spacer>

    <!-- <v-btn v-if="isAuthenticated" icon @click="logout">
      <v-icon color="white">mdi-logout</v-icon>
    </v-btn> -->

    <v-btn v-for="tab in tabs" :key="tab" text class="mx-5">
      <div class="">{{ tab.text }}</div>
    </v-btn>
  </v-app-bar>
</template>

<script>
export default {
  data() {
    return {
      tab: null,
      bg: "transparent",
      elva: "0",
      tabs: [
        { text: "Home", to: "/" },
        { text: "Recipe", to: "/" },
        { text: "Video", to: "/" },
        { text: "Contact Us", to: "/" },
      ],
    };
  },
  name: "AppBar",
  computed: {
    isAuthenticated() {
      return this.$store.getters["user/isAuthenticated"];
    },
  },
  methods: {
    handleScroll() {
      // Your scroll handling here
      if (window.scrollY >= 100) {
        this.bg = "white";
        this.elva = "2";
      } else {
        this.bg = "transparent";
        this.elva = "0";
      }
    },
    logout() {
      this.$store.dispatch("user/logout").then(() => {
        this.$router.push("login");
      });
    },
    home() {
      this.$router.push("/");
    },

    beforeMount() {
      window.addEventListener("scroll", this.handleScroll);
    },
    beforeDestroy() {
      window.removeEventListener("scroll", this.handleScroll);
    },
  },
};
</script>

<style scoped>
</style>
