<template>
  <div>
    <v-row justify="center">
      <v-carousel
        cycle
        height="700"
        hide-delimiter-background
        show-arrows-on-hover
      >
        <v-carousel-item v-for="(slide, i) in slides" :key="i">
          <v-sheet :color="colors[i]" height="100%">
            <v-row class="fill-height" align="center" justify="center">
              <div class="display-3">{{ slide }} Slide</div>
            </v-row>
          </v-sheet>
        </v-carousel-item>
      </v-carousel>
    </v-row>

    <v-row justify="center" class="my-12">
      <v-btn color="primary" class="mx-5 px-12" x-large rounded>About Us</v-btn>
      <v-btn outlined class="mx-5 px-12" x-large rounded color="primary"
        >Recipe</v-btn
      >
    </v-row>

    <v-row>
      <introduction></introduction>
    </v-row>
  </div>
</template>

<script>
import introduction from "~/components/introduction.vue";

export default {
  components: { introduction },
  data() {
    return {
      colors: [
        "indigo",
        "warning",
        "pink darken-2",
        "red lighten-1",
        "deep-purple accent-4",
      ],
      slides: ["First", "Second", "Third", "Fourth", "Fifth"],

      name: "index",
      middleware: "authentication",
    };
  },
};
</script>

<style scoped>
</style>
